<div>
    <div class="item" [ngClass]="{'border':item.id ==0}">
        <div style="display: flex;">
            <i *ngIf="item.expandable" class=" item-icon fa-solid fa-angle-down" (click)="toggleFolders()"></i>
            <i *ngIf="!item.expandable && item.type == 'file'" [class]="fileIConClass"></i>
            <i *ngIf="!item.expandable && item.type == 'folder'" [class]="folderIConClass"></i>
            <span *ngIf="!editStart" class="item-name">{{item.name}}</span>
            <input *ngIf="editStart" type="text" [(ngModel)]="item.name" (blur)="editStart = false">
        </div>

        <div>
            <i *ngIf="item.id" class="item-icon fa-solid fa-pencil" (click)="editStart =  true"></i>
            <ng-container *ngIf="item.type == 'folder'">
                <i [class]="fileIConClass" (click)="addFile()"></i>
                <i [class]="folderIConClass" (click)="addFolder()"></i>
            </ng-container>
            <i *ngIf="item.id" class="item-icon fa-solid fa-trash"></i>
        </div>
    </div>
    <ul [ngClass]="{'hide':!expand,'border':item.id ==0}">
        <li *ngFor="let child of item.children">
            <app-item [item]="child"></app-item>
        </li>
        <li class="input-item"  *ngIf="itemToAdd">
            <i *ngIf="itemToAdd == 'file'" [class]="fileIConClass"></i>
            <i *ngIf="itemToAdd == 'folder'" [class]="folderIConClass"></i>
            <input type="text" [(ngModel)]="fileOrFolderName" (blur)="enterClick()">
        </li>
    </ul>
</div>