.sidebar {
    border: 1px solid var(--borderColor);
    position: absolute;
    width: 200px;
    top: 25%;
    left: 20px;
    border-radius: 5px;
    box-shadow: 0 7px 14px rgba(0, 0, 0, .05), 0 0 3.12708px rgba(0, 0, 0, .08), 0 0 .931014px rgba(0, 0, 0, .17);
    background-color: var(--backgroundColor);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .color-container {
        display: flex;
        justify-content: space-between;
        .colorbox{
            height: 20px;
            border: 1px solid var(--borderColor);
            width: 20px;
            box-shadow: 0 7px 14px rgba(0, 0, 0, .05), 0 0 3.12708px rgba(0, 0, 0, .08), 0 0 .931014px rgba(0, 0, 0, .17);
            cursor: pointer;
            border-radius: 3px;
        }
    }
    .range-container {
        margin-top: 30px;
    }
   
}

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 80%;
        justify-content: center;
        display: flex;
        height: 150px;
        padding: 30px;
        top: 74%;
    }
}