<div class="sidebar">
    @if(tool == 'pencil') {
        <h4 style="margin-bottom: 15px;">Select Color</h4>
        <div class="color-container">
            @for (color of colors; track color) {
            <div class="colorbox"  [style.backgroundColor]="color" (click)="changeColor(color)"></div>
            }
            <input type="color" class="colorbox" (input)="pickColor($event)" >
        </div>
    }
    
    <div class="range-container">
        <h4 style="margin-bottom: 15px;">{{tool == 'eraser' ? 'Eraser' : 'Brush'}} size</h4>
        <input type="range" min="1" max="10" [value]="strockSize" name="strokeSize" #range (change)="changeStrokeSize(+range.value)">
    </div>
</div>